@model GuestResponse

@* <script>
    function getCoordinates(address){
  fetch(`https://maps.googleapis.com/maps/api/geocode/json?address=${'@ViewBag.WeddingDetail.WeddingAddress'}&key= AIzaSyColACY0ZQqW0QnDCwIzNEPYJc-25_P3j0`)
    .then(response => response.json())
    .then(data => {
      const latitude = data.results.geometry.location.lat;
      const longitude = data.results.geometry.location.lng;
      console.log({latitude, longitude})
    })
}
</script> *@

<a href="/Dashboard">Dashboard</a>
<h1>@ViewBag.WeddingDetail.WedderOne & @ViewBag.WeddingDetail.WedderTwo</h1>
<p>Date: @ViewBag.WeddingDetail.Date.ToString("MMMM dd yyyy")</p>

<p>Guests: </p>
<ul>
    @foreach (var wedding in @ViewBag.WeddingDetail.GuestReponses)
    {
        <li>@wedding.Guest.FirstName @wedding.Guest.LastName</li>
    }
</ul>
<div>
    <h1>@ViewBag.WeddingDetail.WeddingAddress</h1>
    <div id="map" style="width:70%;height:500px;"></div>
</div>
@* <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script> *@
<script>
var geocoder = new google.maps.Geocoder(); // initialize google map object
var address = `${'@ViewBag.WeddingDetail.WeddingAddress'}`;
geocoder.geocode( { 'address': address}, function(results, status) {
 
if (status == google.maps.GeocoderStatus.OK) {
    var latitude = results[0].geometry.location.lat();
var longitude = results[0].geometry.location.lng();
var myCenter=new google.maps.LatLng(latitude,longitude);
       function initialize()
{
var mapProp = {
  center:myCenter,
  zoom:9,
  mapTypeId:google.maps.MapTypeId.ROADMAP
  };
 
var map=new google.maps.Map(document.getElementById("map"),mapProp);
 
var marker=new google.maps.Marker({
  position:myCenter,
  });
 
marker.setMap(map);
}
 
google.maps.event.addDomListener(window, 'load', initialize); 
    } 
}); 
</script>